<form class="feedback-book-form" method="post" action="">
    <label class="feedback-book-form-label" for="author">Представьтесь, пожалуйста</label>
    <input required class="feedback-book-form-input" placeholder="Имя" type="text" name="author" id="author"><br>
    <label class="feedback-book-form-label" for="title">О чем будете писать?</label>
    <input required class="feedback-book-form-input" placeholder="Тема" type="text" name="title" id="title"><br>
    <label class="feedback-book-form-label" for="message">Пишите сюда: </label>
    <textarea required class="feedback-book-form-textarea" name="message" id="message"
              placeholder="Сообщение"></textarea><br>
    <input class="feedback-book-form-send" type="submit" value="Запостить">
</form>